.form[b-uyxcwzpyup] {
    width: 300px;
    margin: auto;
}

    form div[b-uyxcwzpyup] {
        margin-bottom: 10px;
    }

label[b-uyxcwzpyup] {
    display: inline-block;
    width: 80px;
}

input[type="text"][b-uyxcwzpyup],
input[type="number"][b-uyxcwzpyup] {
    width: calc(100% - 90px); /* 90px = width of label */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[b-uyxcwzpyup] {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover[b-uyxcwzpyup] {
        background-color: #0056b3;
    }
