.form {
    width: 300px;
    margin: auto;
}

    form div {
        margin-bottom: 10px;
    }

label {
    display: inline-block;
    width: 80px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 90px); /* 90px = width of label */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }
