* {
    box-sizing: border-box;
}

.body {
    background-color: #000;
}


.container {
    background-color: #ffcb05;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.pokemon-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.pokemon-card {
    width: 200px;
    height: 250px;
    padding: 10px;
    background-color: black;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
}

img {
    width: 80%;
    height: 60%;
}

.type-row {
    display: flex;
    justify-content: space-around;
}

.pokemon-name {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}

.type-badge {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 3px;
}

.app-title {
    width: 400px;
    margin: 0 auto 20px auto;
}

a {
    text-decoration: none;
}

.pokemon-button {
    background-color: red; /* Jaune Pikachu */
    color: #333; /* Noir */
    border: 2px solid #000; /* Bordure noire */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    align-items: center;
    font-size: 16px; /* Taille de police */
    font-weight: bold; /* Gras */
    text-transform: uppercase; /* Majuscules */
    cursor: pointer; /* Curseur de souris pointer */
    transition: background-color 0.3s, color 0.3s; /* Transition de couleur au survol */
}

    .pokemon-button:hover {
        background-color: #f9d303; /* Jaune Pikachu légèrement plus clair au survol */
        color: #222; /* Couleur du texte légèrement plus foncée au survol */
    }
