.pokemon-name{
    text-transform: capitalize;
}

img {
    width: 200px
}

.badge {
    text-transform: capitalize;
}

.container {
    margin: 30px auto;
    width: 28%;
}

.inner-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    border-radius: 15px;
}

.card {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.pokemon-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.type-badge {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 3px;
}

.stat {
    text-transform: capitalize;
}

.stat-bar {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
}

.poke-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    margin-right: 15px;
}

.pokemon-button {
    background-color: #ffcb05; /* Jaune Pikachu */
    color: #333; /* Noir */
    border: 2px solid #000; /* Bordure noire */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    align-items: center;
    font-size: 16px; /* Taille de police */
    font-weight: bold; /* Gras */
    text-transform: uppercase; /* Majuscules */
    cursor: pointer; /* Curseur de souris pointer */
    transition: background-color 0.3s, color 0.3s; /* Transition de couleur au survol */
}

    .pokemon-button:hover {
        background-color: #f9d303; /* Jaune Pikachu légèrement plus clair au survol */
        color: #222; /* Couleur du texte légèrement plus foncée au survol */
    }

.pokemon-buttonn {
    background-color: red; /* Jaune Pikachu */
    color: #333; /* Noir */
    border: 2px solid #000; /* Bordure noire */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    align-items: center;
    font-size: 16px; /* Taille de police */
    font-weight: bold; /* Gras */
    text-transform: uppercase; /* Majuscules */
    cursor: pointer; /* Curseur de souris pointer */
    transition: background-color 0.3s, color 0.3s; /* Transition de couleur au survol */
}


