/* /Pages/EditPokemon.razor.rz.scp.css */
.form[b-uyxcwzpyup] {
    width: 300px;
    margin: auto;
}

    form div[b-uyxcwzpyup] {
        margin-bottom: 10px;
    }

label[b-uyxcwzpyup] {
    display: inline-block;
    width: 80px;
}

input[type="text"][b-uyxcwzpyup],
input[type="number"][b-uyxcwzpyup] {
    width: calc(100% - 90px); /* 90px = width of label */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[b-uyxcwzpyup] {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover[b-uyxcwzpyup] {
        background-color: #0056b3;
    }
/* /Pages/Index.razor.rz.scp.css */
*[b-hs2wz2gqnu] {
    box-sizing: border-box;
}

.body[b-hs2wz2gqnu] {
    background-color: #000;
}


.container[b-hs2wz2gqnu] {
    background-color: #ffcb05;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.pokemon-row[b-hs2wz2gqnu] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.pokemon-card[b-hs2wz2gqnu] {
    width: 200px;
    height: 250px;
    padding: 10px;
    background-color: black;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
}

img[b-hs2wz2gqnu] {
    width: 80%;
    height: 60%;
}

.type-row[b-hs2wz2gqnu] {
    display: flex;
    justify-content: space-around;
}

.pokemon-name[b-hs2wz2gqnu] {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}

.type-badge[b-hs2wz2gqnu] {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 3px;
}

.app-title[b-hs2wz2gqnu] {
    width: 400px;
    margin: 0 auto 20px auto;
}

a[b-hs2wz2gqnu] {
    text-decoration: none;
}

.pokemon-button[b-hs2wz2gqnu] {
    background-color: red; /* Jaune Pikachu */
    color: #333; /* Noir */
    border: 2px solid #000; /* Bordure noire */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    align-items: center;
    font-size: 16px; /* Taille de police */
    font-weight: bold; /* Gras */
    text-transform: uppercase; /* Majuscules */
    cursor: pointer; /* Curseur de souris pointer */
    transition: background-color 0.3s, color 0.3s; /* Transition de couleur au survol */
}

    .pokemon-button:hover[b-hs2wz2gqnu] {
        background-color: #f9d303; /* Jaune Pikachu légèrement plus clair au survol */
        color: #222; /* Couleur du texte légèrement plus foncée au survol */
    }
/* /Pages/PokemonCard.razor.rz.scp.css */
.pokemon-name[b-jlqci322h3]{
    text-transform: capitalize;
}

img[b-jlqci322h3] {
    width: 200px
}

.badge[b-jlqci322h3] {
    text-transform: capitalize;
}

.container[b-jlqci322h3] {
    margin: 30px auto;
    width: 28%;
}

.inner-container[b-jlqci322h3] {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.card-top[b-jlqci322h3] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    border-radius: 15px;
}

.card[b-jlqci322h3] {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.pokemon-info[b-jlqci322h3] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.type-badge[b-jlqci322h3] {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 3px;
}

.stat[b-jlqci322h3] {
    text-transform: capitalize;
}

.stat-bar[b-jlqci322h3] {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
}

.poke-icon[b-jlqci322h3] {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}

.icon-container[b-jlqci322h3] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    margin-right: 15px;
}

.pokemon-button[b-jlqci322h3] {
    background-color: #ffcb05; /* Jaune Pikachu */
    color: #333; /* Noir */
    border: 2px solid #000; /* Bordure noire */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    align-items: center;
    font-size: 16px; /* Taille de police */
    font-weight: bold; /* Gras */
    text-transform: uppercase; /* Majuscules */
    cursor: pointer; /* Curseur de souris pointer */
    transition: background-color 0.3s, color 0.3s; /* Transition de couleur au survol */
}

    .pokemon-button:hover[b-jlqci322h3] {
        background-color: #f9d303; /* Jaune Pikachu légèrement plus clair au survol */
        color: #222; /* Couleur du texte légèrement plus foncée au survol */
    }

.pokemon-buttonn[b-jlqci322h3] {
    background-color: red; /* Jaune Pikachu */
    color: #333; /* Noir */
    border: 2px solid #000; /* Bordure noire */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    align-items: center;
    font-size: 16px; /* Taille de police */
    font-weight: bold; /* Gras */
    text-transform: uppercase; /* Majuscules */
    cursor: pointer; /* Curseur de souris pointer */
    transition: background-color 0.3s, color 0.3s; /* Transition de couleur au survol */
}


